{%extends 'base.html'%}
{%load static%}

{%block content%}

	<h1>Nuestra comunidad</h1>
	<div id="people-list">
		{%for u in users%}
		<div class="user">
			<a href="{{u.get_absolute_url}}">
				{% if u.profile.avatar %}
					<img width="100" src="/media/{{u.profile.avatar.url}}">
				{% else %}
					<img width="100" src="{%static 'images/geek_paFace.png'%}">	
				{% endif %}
			</a>
			<div class="info">
				<a href="{{u.get_absolute.url}}">
					{{u.get_full_name}}
				</a>
			</div>
		</div>
		{%endfor%}
	</div>
{%endblock content%}