{%extends 'base.html'%}
{%load static%}
{%block content%}
	
	{%if request.user.profile.cover%}
	<section class="hero is-info is-large" style="background-image:url(/media/{{request.user.profile.cover.url}}); background-size:cover; background-position:center; ">
	{%else%}
	<section class="hero is-info is-large" style="background-image:url({% static 'images/cover_default.jpg' %}); background-size:cover; background-position:center; ">
	{%endif%}
		<div class="hero-body">
			<div class="container">
				<h1 class="title avatar-card">
					{% if request.user.profile.avatar %}
						<img src="/media/{{request.user.profile.avatar.url}}">
					{% else %}
						<img src="{% static 'images/geek_paFace.png' %}">
					{% endif %}
					<img src="{%static 'images/lapiz.png'%}" id="edit" class="icon">
					Perfil de <b>{{request.user.first_name}} {{request.user.last_name}}</b>
				</h1>
			</div>
		</div>
	</section>

	<section class="edit-user-form">
		<article class="mid-padding border-radius">

			<div class="header">
				<h1>Editar Perfil</h1>	
			</div>

			<img src="{% static 'images/cerrar.png' %}" id="cerrar" class="icon">

			<form action="." method="post" enctype="multipart/form-data">
				{%csrf_token%}
				{{form_user.as_p}}
				{{form_profile.as_p}}
				<p class="control">
					<input type="submit" class="button is-success">
				</p>
			</form>

		</article>
	</section>
	
	<div class="columns card little-margin less-top border-radius mid-padding">
		
		<div class="column is-2" id="menu">
			<div class="card">
				<p class="menu-label">
			    General
			  </p>
			  <ul class="menu-list">
			    <li><a>Dashboard</a></li>
			    <li><a>Customers</a></li>
			  </ul>
			  <p class="menu-label">
			    Administration
			  </p>
			  <ul class="menu-list">
			    <li><a>Team Settings</a></li>
			    <li>
			      <a class="is-active">Manage Your Team</a>
			      <ul>
			        <li><a>Members</a></li>
			        <li><a>Plugins</a></li>
			        <li><a>Add a member</a></li>
			      </ul>
			    </li>
			    <li><a>Invitations</a></li>
			    <li><a>Cloud Storage Environment Settings</a></li>
			    <li><a>Authentication</a></li>
			  </ul>
			  <p class="menu-label">
			    Transactions
			  </p>
			  <ul class="menu-list">
			    <li><a>Payments</a></li>
			    <li><a>Transfers</a></li>
			    <li><a>Balance</a></li>
			  </ul>
			</div>
		</div>

		<div class="column is-6">
			<div class="card">
				<!--<form action="" class="">
					{% csrf_token %}
					{{form_profile.as_p}}
					<input type="submit" class="button">
				</form>-->

				
				<div id="action-list">
					{%for action in actions%}
					{%include "actions/action/detail.html"%}
					{%endfor%}
				</div>
				</div>
		</div>

		<div class="column is-4">
			<div class="card">
				<div class="card-content">
					<div class="content">
						<h1 class="title">
							Tus cursos
						</h1>


						<div class="card">
						  <header class="card-header">
						    <p class="card-header-title">
						      Component
						    </p>
						    <a class="card-header-icon">
						      <span class="icon">
						        <i class="fa fa-angle-down"></i>
						      </span>
						    </a>
						  </header>
						  <div class="card-content">
						    <div class="content">
						      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
						      <a>@bulmaio</a>. <a>#css</a> <a>#responsive</a>
						      <br>
						      <small>11:09 PM - 1 Jan 2016</small>
						    </div>
						  </div>
						  <footer class="card-footer">
						    <a class="card-footer-item">Save</a>
						    <a class="card-footer-item">Edit</a>
						    <a class="card-footer-item">Delete</a>
						  </footer>
						</div>


					</div>
				</div>
			</div>
		</div>

	</div>
{%endblock content%}

{%block domready%}

	$('label').addClass('label')
	$('input').addClass('input')
	$('.button').removeClass('input')
	$('textarea').addClass('textarea')

	$('#edit').on('click', function(){
		$('.edit-user-form').toggleClass('set-visible');
		console.log('form visible');
		$('#capa-negra').toggleClass('set-visible');
		console.log('capa visible');
	});
	
	$('#cerrar').on('click', function(){
		$('.edit-user-form').toggleClass('set-visible');
		$('#capa-negra').toggleClass('set-visible');
	});

{%endblock domready%}