{%extends 'base.html' %}

{% block content %}
	<h1>Título {{course.title}}</h1>
	<h3>Categoria: {{course.subject.title}}</h3>
	<h3>Propietario: {{course.owner}}</h3>
	<p>Descripción del curso: {{course.overview}}</p>
	
	<h2>Módulos que conforman el curso: </h2>
	{%for module in modules%}
		<div style=" border-style: solid; border-width: 5px;">
			<h3>{{module.title}}</h3>
			<h4>{{module.description}}</h4>
		</div>
		<br>
	{%endfor%}
	<a href="{%url 'courses:course_list' %}">Regresar a los cursos</a>
{% endblock content %}