<!DOCTYPE html>
{%load static%}
<html>
<head>
	<title>Fixter</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{%static 'css/bulma.css'%}">
</head>
<body>

	{%block content%}
	{%endblock content%}

<!-- jquery-->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<!-- jquery ui for drang n drop -->
<script
  src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
  integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
  crossorigin="anonymous"></script>

  <script>
  	$(document).ready(function(){
  		{%block domready%}
  		{%endblock domready%}
  	});
  </script>

</body>
</html>